<ion-menu side="start" menuId="m1" contentId="config">
  <ion-header>
    <ion-toolbar>
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item lines="none" (click)="retirarTodos()">
          <ion-label>Retirar todos do carrinho</ion-label>
          <ion-icon name="trash" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" (click)="solicitarNomeBackup()">
          <ion-label>Fazer Backup</ion-label>
          <ion-icon name="cloud-download" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" (click)="restaurarBackup()">
          <ion-label>Lista Padrao</ion-label>
          <ion-icon name="cloud-done" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-app>
  <ion-router-outlet id="config"></ion-router-outlet>
</ion-app>
