<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{descricao}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input [(ngModel)]="descricao" type="text" (keypress)="onEnter($event.keyCode)" #descrInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-select [value]="categoria" arial-label="Categoria" interface="modal" placeholder="Categoria"
          (ionChange)="selecionaCategoria($event)">
          <ion-select-option value="base">BASE</ion-select-option>
          <ion-select-option value="biscoitos">BISCOITOS</ion-select-option>
          <ion-select-option value="carnes">CARNES</ion-select-option>
          <ion-select-option value="frios">FRIOS</ion-select-option>
          <ion-select-option value="higiene">HIGIENE</ion-select-option>
          <ion-select-option value="hortifrutti">HORTIFRUTTI</ion-select-option>
          <ion-select-option value="infantil">INFANTIL</ion-select-option>
          <ion-select-option value="limpeza">LIMPEZA</ion-select-option>
          <ion-select-option value="outros">OUTROS</ion-select-option>
          <ion-select-option value="pães">PÃES</ion-select-option>
          <ion-select-option value="temperos">TEMPEROS</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Quantidade</ion-label>
        <ion-input [(ngModel)]="qtd" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input [(ngModel)]="valor" type="number" inputmode="decimal"
          (keypress)="onEnter($event.keyCode)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>No carrinho?</ion-label>
        <ion-checkbox [(ngModel)]="noCarrinho"></ion-checkbox>
      </ion-item>

      <ion-button expand="block" fill="clear" shape="round" (click)="salvar()">
        Salvar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
