<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" id="content">
  <ion-grid mode="ios">
    <ion-row id="row-title" *ngIf="itens.length > 0">
      <ion-col sizeXs="19">
        <ion-item color="secondary" (click)="ordenaPorDescricao()">
          Descrição
        </ion-item>
      </ion-col>
      <ion-col sizeXs="7">
        <ion-item color="secondary" (click)="ordenaPorQuantidade()">
          Qtd
        </ion-item>
      </ion-col>
      <ion-col sizeXs="10">
        <ion-item color="secondary">
          Valor
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row id="row-detail" *ngFor="let item of itens" (click)="abrirOpcoes(item)">
      <ion-col sizeXs="19">
        <ion-item color="danger" *ngIf="item.noCarrinho">
          <del>{{item.descricao}}</del>
        </ion-item>
        <ion-item color="tertiary" *ngIf="item.noCarrinho == false">
          {{item.descricao}}
        </ion-item>
      </ion-col>
      <ion-col sizeXs="7">
        <ion-item color="danger" *ngIf="item.noCarrinho">
          <del>{{item.qtd}}</del>
        </ion-item>
        <ion-item color="tertiary" *ngIf="item.noCarrinho == false">
          {{item.qtd}}
        </ion-item>
      </ion-col>
      <ion-col sizeXs="10">
        <ion-item color="danger" *ngIf="item.noCarrinho">
          <del> {{formatter.format(item.valor)}}</del>
        </ion-item>
        <ion-item color="tertiary" *ngIf="item.noCarrinho == false">
          {{formatter.format(item.valor)}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding" *ngIf="itens.length > 0">
      <ion-col sizeXs="24">
        <ion-item color="warning">
          <ion-label>Total</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeXs="12">
        <ion-item color="warning">
        {{getTotal()}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item *ngIf="itens.length == 0">
    <ion-label class="ion-text-center">
      <h1>
        Lista vazia!
      </h1>
    </ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="adicionarItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>