$color-primary: #3880ff;
$color-secondary: #3dc2ff;
$color-tertiary: #5260ff;

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-grid {
  --ion-grid-columns: 36;
}

ion-col{
  border: 1px solid gray;
  border-radius: 10px;
}

ion-item{
  border-radius: 10px;
}