<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-marging" mode="ios">
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" id="content">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="28">
        <ion-item color="secondary">
          Descrição
        </ion-item>
      </ion-col>
      <ion-col sizeXs="8">
        <ion-item color="secondary">
          Qtd
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of itens" (click)="abrirOpcoes(item)">
      <ion-col sizeXs="28">
        <ion-item color="tertiary">
          {{item.descricao}}
        </ion-item>
      </ion-col>
      <ion-col sizeXs="8">
        <ion-item color="tertiary">
          {{item.qtd}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="center" horizontal="end">
    <ion-fab-button (click)="adicionarItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>